{
  "cli": {
    "moralisApiKey": "",
    "moralisApiSecret": ""
  },
  "local": {
    "CHAIN_ID": 1337,
    "APP_ID": "",
    "MASTER_KEY": "",
    "SERVER_URL": "",
    "NFTSale_ADDRESS": "",
    "LAND_ADDRESS": ""
  }
}